<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.dao.ContactDao">
   <select id="contactList" parameterType="map" resultType="hashmap">
    	select 
    		no,
    		name,
    		tel,
    		address,
    		email
    	from 
    		contacts
    	where
    		delyn='n'
    </select>
    <insert id="contactInsertAction" parameterType="map">
    	insert into contacts
    		(
    		name,
    		tel,
    		address,
    		email,
    		comment,
    		regDate)
    	values
    		(
    		#{name},
    		#{tel},
    		#{address},
    		#{email},
    		#{comment},
    		now())
    </insert>
    
    <select id="contactUpdate" parameterType="map" resultType="hashmap">
    	select 
    		*
    	from 
    		contacts
    	where no = #{no} 
    </select>
    
    <update id="contactUpdateAction" parameterType="map">
    	update 
    		contacts
    	set
    		name=#{name},
    		tel=#{tel},
    		address=#{address},
    		email=#{email},
    		comment=#{comment}
    	where 
    		no = #{no}
    </update>
    
    <update id="contactDelete" parameterType="map">
    	update 
    		contacts
    	set
    		delyn = 'y'
    	where 
    		no = #{no}
    </update>
</mapper>