<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.dao.DiaryDao">
   <select id="diaryList" parameterType="map" resultType="hashmap">
   		select 
   			no,
   			title,
   			regDate 
   		from 
   			diary
   		where
   			delyn='n'
   			<if test="sDm != null and eDm != null and sDm != '' and eDm != ''">
   				and regDate between #{sDm} and #{eDm} 
   			</if>
   			<if test="search == 'title'">
				and title like CONCAT('%',#{searchKeyword},'%')
			</if>
   		limit
   			#{fst},#{lst}
   </select>
   <insert id="diaryInsertAction" parameterType="map">
   	insert into diary
   	(
   		contactNo,
   		title,
   		contents,
   		regDate
   	)
   	values
   	(
   		#{contactNo},
   		#{title},
   		#{content},
   		now()
   	)
   </insert>
   
   <insert id="imageInsertAction" parameterType="map">
   	insert into images
   	(
   		type,
   		contactNo,
   		readNo,
   		realNm,
   		virtualNm,
   		regDate
   	)
   	values
   	(
   		#{type},
   		#{contactNo},
   		(SELECT no FROM diary order by no desc limit 1),
   		#{realNm},
   		#{virtualNm},
   		now()
   	)
   </insert>
   <select id="diaryListCnt" parameterType="map" resultType="int">
   		select 
   			count(*) 
   		from 
   			diary
   		where
   			delyn='n'
   			<if test="sDm != null and eDm != null and sDm != '' and eDm != ''">
   				and regDate between #{sDm} and #{eDm} 
   			</if>
   			<if test="search == 'title'">
				and title like CONCAT('%',#{searchKeyword},'%')
			</if>
   </select>
   <select id="diaryDetail" parameterType="map" resultType="hashmap">
   		select 
   			no,
   			contactNo,
   			title,
   			contents,
   			regDate 
   		from 
   			diary
   		where
   			delyn='n'
   			and no = #{no}
   </select>
   <select id="diaryImageDetail" parameterType="map" resultType="hashmap">
   		select 
   			no,
   			virtualNm 
   		from 
   			images
   		where
   			type = #{type}
			and readNo = #{no}
   </select>
   <update id="diaryDelete" parameterType="map">
   	update
   		diary
   	set
   		delyn='y'
   	where
   		no = #{no}
   </update>
   
   <update id="diaryUpdateAction" parameterType="map">
		update
	   		diary
	   	set
	   		title=#{title},
   			contents=#{content},
   			modDate=now()
	   	where
	   		no = #{no}   	
   </update>
   
   <insert id="imageUpdateAction" parameterType="map">
   	insert into images
   	(
   		type,
   		contactNo,
   		readNo,
   		realNm,
   		virtualNm,
   		regDate
   	)
   	values
   	(
   		#{type},
   		#{contactNo},
   		#{no},
   		#{realNm},
   		#{virtualNm},
   		now()
   	)
   </insert>
   <delete id="imageDelete" parameterType="map">
   		delete 
			from 
				images 
			where no = #{imageNo}
   </delete>
</mapper>