<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.dao.MaterialDao">
	<select id="materialList" parameterType="map" resultType="hashmap">
		select 
			no,
			name,
			quantity
		from 
			materials
		where
			delyn='n'
			<if test="search == 'name'">
				and name like CONCAT('%',#{searchKeyword},'%')
			</if>
		order by regDate desc
		limit
			#{fst},#{lst}
	</select>
	<insert id="materialInsertAction" parameterType="map">
		insert into materials
		(
		 name,
		 quantity,
		 comment,
		 regDate
		)
		values
		(
			#{name},
		 	#{quantity},
		 	#{comment},
		 	now()
		)
	</insert>
	<select id="materialUpdate" parameterType="map" resultType="hashmap">
		select 
			no,
			name,
			quantity,
			comment
		from 
			materials
		where no = #{no}
	</select>
	<update id="materialUpdateAction" parameterType="map">
		update
			materials
		set
			name=#{name},
			quantity=#{quantity},
			comment=#{comment}
		where
			no=#{no}
	</update>
	<update id="materialDelete" parameterType="map">
		update
			materials
		set
			delyn='y'
		where
			no = #{no}
	</update>
	
	<select id="materialListCnt" parameterType="map" resultType="int">
		select 
			count(*)
		from 
			materials
		where
			delyn='n'
			<if test="search == 'name'">
				and name like CONCAT('%',#{searchKeyword},'%')
			</if>
	</select>

</mapper>